.buttonVerwaltung{
  width: 108px;
  margin-top: 5px;
}

.buttonVerwaltung{
  width: 145px;
  margin-top: 5px;
}


.buttonNew{
  color: #17a673;
  margin-top: 1%;
}

.buttonDelete{
  color: #e02d1b;
}
